<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.example.apitest.Mapper.auth.AuthMapper">
    <select id="dupCheck"
            resultType="int"
            parameterType="org.example.apitest.model.auth.Register"
    >
        SELECT count(*)
        FROM TB_USER
        WHERE USER_NM = #{registerNm}
    </select>

    <insert id="register"
            parameterType="org.example.apitest.model.auth.Register">
        INSERT INTO TB_USER (USER_NM, USER_PW, PW_RESET_YN, USER_GD, USER_BALANCE, CRE_NM, CRE_DTM)
        VALUES (#{registerNm}, #{registerPw}, 'N', 1, 100000, null, NOW())
    </insert>

    <select id="selectUserByNm"
            parameterType="string"
            resultType="org.example.apitest.model.user.UserInfo">
        SELECT USER_NM, USER_PW
        FROM TB_USER
        WHERE USER_NM = #{loginNm}
    </select>
</mapper>