<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.example.apitest.Mapper.board.BoardMapper">
    <select id="getBoardList"
            resultType="org.example.apitest.model.board.Board">
        SELECT ID, TITLE, THUMB, CRE_ID, CRE_DTM
        FROM TB_BOARD
        ORDER BY CRE_DTM DESC
    </select>

    <select id="getBoardById"
            parameterType="int"
            resultType="org.example.apitest.model.board.Board">
        SELECT ID, TITLE, THUMB, CRE_ID, CRE_DTM
        FROM TB_BOARD
        WHERE ID = #{id}
    </select>

    <insert id="insertBoard"
            parameterType="String">
        INSERT INTO TB_BOARD (TITLE, THUMB, CRE_ID, CRE_DTM)
        VALUES (#{title}, 0, '테스트계정임', NOW())
    </insert>

    <delete id="deleteBoard"
            parameterType="int">
        DELETE FROM TB_BOARD
        WHERE ID = #{id}
    </delete>

    <update id="updateBoard"
            parameterType="org.example.apitest.model.board.Board">
        UPDATE TB_BOARD
        SET TITLE = #{title}
        WHERE ID = #{id}
    </update>

    <update id="likeBoard"
            parameterType="org.example.apitest.model.board.Board">
        UPDATE TB_BOARD
        SET THUMB = THUMB + 1
        WHERE ID = #{id}
    </update>

    <select id="getTotalBoardCount"
            resultType="int">
        SELECT count(*)
        FROM TB_BOARD
    </select>
</mapper>